<div>
    <h2>reactive form</h2>
    <form [formGroup]="userForm" novalidate>
      <div>
        <span>name:</span>
        <input type="text" formControlName="name" name="name">
      </div>
      <div>
        <span>password</span>
        <input type="password"  formControlName="password" name="password" >
      </div>
      <div>
          <input type="radio" name="gender" formControlName="gender" id="gender1" value="male" > 
          <label for="gender1">先生</label>
          <input type="radio" name="gender" formControlName="gender" id="gender2"  value="female" > 
          <label for="gender2">小姐</label>
      </div>
      <div>
        <button type="submit" (click)="submit(userForm)">申請</button>
      </div>
    </form>
  </div>
  <!--
  1.建立pure的html
  2.import formGroup ,Validators, formControl, formBuilder
  3.使用formBuilder 建立 create formGroup object 
  4.html加formGroup的directive(指定class宣告的formGroup objct)
  5.formGroup的指定formGroupName
  8.基它檢核邏邏
  -->