<div>
  <h2>template form</h2>
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div>
      <span>name:</span>
      <input type="text" name="name" placeholder="請諭入姓名" [(ngModel)]="user.name" required>
    </div>
    <div>
      <span>password</span>
      <input type="password" name="password"  placeholder="請諭入密碼" id="" minlength=4 [ngModel]="user.password">
    </div>
    <div>
        <input type="radio" name="gender" id="gender1" [ngModel]="user.gender" value="male" > 
        <label for="gender1">先生</label>
        <input type="radio" name="gender" id="gender2" [ngModel]="user.gender" value="female"> 
        <label for="gender2">小姐</label>
    </div>
    <div>
      <button type="submit">申請</button>
    </div>
  </form>
</div>
<!--
  1.建立pure的html
  2.import ngForm and FormModule
  3.加入ngForm 在component
  4.加入ngForm和ref變數在html
  5.加入ngSubmit的事件在html和conmponent
  6.每個input新增ngModel在html
  7.雙向綁定 or 單向綁定 
  8.基它檢核邏邏
-->
